<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
    </head>
    <body>
        <h1>Thumbnailer Help</h1>
        <p>End Points:</p>
        <ul>
            <li>
                POST <a href="/thumbnail/big">/thumbnail/big</a>
                <p>
                    Generates a big thumbnail from an uploaded video. A single video must be uploaded.
                    <br/>Possible query arguments:
                    <ul>
                        <li>width - The width of the thumbnail. Defaults to the width of the video.</li>
                        <li>skip - Skip this number of seconds into the video. Defaults to 0.</li>
                    </ul>
                </p>
            </li>
            <li>
                POST <a href="/thumbnail/sprite">/thumbnail/sprite</a>
                <p>
                    Generates a sprite thumbnail from an uploaded video. A single video must be uploaded.
                    <br/>Possible query arguments:
                    <ul>
                        <li>width - The width of the thumbnail. Defaults to the width of the video.</li>
                        <li>skip - Skip this number of seconds into the video. Defaults to 0.</li>
                    </ul>
                </p>
            </li>
            <li>
                GET <a href="/help">/help</a>
                <p>
                    Returns this help page.
                </p>
            </li>
            <li>
                GET <a href="/pulse">/pulse</a>
                <p>
                    Returns health information for the server. See <a href="https://github.com/dulo-tech/amsterdam/wiki/Specification:-Pulse-Protocol">Pulse Protocol</a>.
                </p>
            </li>
        </ul>
    </body>
</html>